<!DOCTYPE html>
<html ng-app="myModule">
    <head>
        <title>Handling events & filters & Sorting in Angular JS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="script/angular.js" type="text/javascript"></script>
        <script src="script/s4.js" type="text/javascript"></script>
        <link href="style/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div ng-controller="myController">
            {{technologies}}
            <table border="1" cellspacing="5" cellpadding="5">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Likes</th>
                        <th>Dislikes</th>
                        <th>Like / Dislike</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="technology in technologies">
                        <td>{{technology.name}}</td>
                        <td>{{technology.likes}}</td>
                        <td>{{technology.dislikes}}</td>
                        <td>
                            <button type="button" value="Like" name="Like" ng-click="incrementLikes(technology)" >Like</button>
                            <button type="button" value="Dislike" name="Dislike" ng-click="incrementDislikes(technology)" >DisLike</button> 
                        </td>
                    </tr>
                </tbody>
            </table> 
        </div>
        <div ng-controller="filterController">
            <br />
            <h5>Filter :- </h5>
            Rows to display : <input type="number" step="1" ng-model="rowCount" max="5" min="0" /> 
            <br />
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date of Birth</th>
                        <th>Gender</th>
                        <th>Salary (number filter)</th>
                        <th>Salary (currency filter)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="employee in employees| limitTo:rowCount">
                        <td> {{ employee.name | uppercase }} </td>
                        <td> {{ employee.dateOfBirth | date:"dd/MM/yyyy" }} </td>
                        <td> {{ employee.gender}} </td>
                        <td> {{ employee.salary | number:2 }} </td>
                        <td> {{ employee.salary | currency : "₹ " : 0 }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-controller="sortingController">
            <br /><br />
            <h5>Sorting :- </h5>
            <select ng-model="sortColumn">
                <option value="name">Name ASC</option>
                <option value="dateOfBirth">Date of Birth ASC</option>
                <option value="gender">Gender ASC</option>
                <option value="-salary">Salary DESC</option>
            </select>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date of Birth</th>
                        <th>Gender</th>
                        <th>Salary (number filter)</th>
                        <th>Salary (currency filter)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="employee in employees| orderBy :sortColumn">
                        <td> {{ employee.name | uppercase }} </td>
                        <td> {{ employee.dateOfBirth | date:"dd/MM/yyyy" }} </td>
                        <td> {{ employee.gender}} </td>
                        <td> {{ employee.salary | number:2 }} </td>
                        <td> {{ employee.salary | currency : "₹ " : 0 }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-controller="sortingbyTableController">
            <br /><br />
            <h5>Sorting By Table Header :- </h5> 
            <table>
                <thead>
                    <tr>
                        <th ng-click="sortData('name')">Name <span ng-class="getSortClass('name')"></span> </th>
                        <th ng-click="sortData('dateOfBirth')">Date of Birth <span ng-class="getSortClass('dateOfBirth')"></span> </th>
                        <th ng-click="sortData('gender')">Gender <span ng-class="getSortClass('gender')"></span> </th> 
                        <th ng-click="sortData('salary')">Salary (currency filter) <span ng-class="getSortClass('salary')"></span> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="employee in employees| orderBy :sortColumn:reverseSort">
                        <td> {{ employee.name | uppercase }} </td>
                        <td> {{ employee.dateOfBirth | date:"dd/MM/yyyy" }} </td>
                        <td> {{ employee.gender}} </td>
                        <td> {{ employee.salary | currency : "₹ " : 0 }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
