<!DOCTYPE html>
<html ng-app="myModule">
    <head>
        <title>Create custom service in AngularJS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="script/angular.js" type="text/javascript"></script>
        <script src="script/s7.js" type="text/javascript"></script> 
        <script src="service/stringService.js" type="text/javascript"></script>
        <link href="style/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div ng-controller="service_controller"> 
            <table>
                <tr>
                    <td>Your String</td>
                    <td><input type="text" name="os" ng-model="input" /></td>
                </tr>
                <tr>
                    <td>Result</td>
                    <td><input type="text" name="r" ng-model="output" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button ng-click="text_transformString(input)" type="button" name="process">Process</button></td>
                </tr>
            </table>
        </div>
        <div ng-controller="service_in_file_controller"> 
            <table>
                <tr>
                    <td>Your String</td>
                    <td><input type="text" name="os" ng-model="input" /></td>
                </tr>
                <tr>
                    <td>Result</td>
                    <td><input type="text" name="r" ng-model="output" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button ng-click="text_transformString(input)" type="button" name="process">Process</button></td>
                </tr>
            </table>
        </div>
    </body>
</html>
